@page "/"
@using System.Security.Claims
@using Website.Components
@using Website.Components.Navigation
@using Website.Services


@inject HttpClient Http
@inject  WebsiteThemeService Serv

@code
{
    public class HomePageData
    {
        public string FavoriteAvatarUrl { get; set; }
        public int Coins { get; set; }
        public int DivineShards { get; set; }
        public int Stamina { get; set; }
        public int AdventurerLevel { get; set; }
    }

    [CascadingParameter] public Task<AuthenticationState> AuthState { get; set; } = null!;
    protected ClaimsPrincipal? _user;
    private HomePageData? _homePageData;
    private string? ErrorString;
    protected override async Task OnInitializedAsync()
    {
        _user = (await AuthState).User;
        if (_user.Identity?.IsAuthenticated ?? false)
        {
            var httpResponse = await Http.GetAsync("HomePage/get");
            if (!httpResponse.IsSuccessStatusCode)
            {
                ErrorString = await httpResponse.Content.ReadAsStringAsync();
            }
            else
            {
                _homePageData = await httpResponse.Content.ReadFromJsonAsync<HomePageData>();
            }

        }
    }
}

<Navigation>
    @if (_homePageData is not null)
    {
        <div class="home-class">
            <div>
                <img style="border-color: @(Serv.WebsiteTheme == WebsiteTheme.Dark ? "white" : "black")" src="@_homePageData.FavoriteAvatarUrl" alt=""/>
                <div>
                    <p>Level: @_homePageData.AdventurerLevel</p>
                    <p>Coins: @_homePageData.Coins</p>
                    <p>Divine Shards: @_homePageData.DivineShards</p>
                    <p>Stamina: @_homePageData.Stamina</p>
                </div>
            </div>
        </div>
    } else if (ErrorString is not null)
    {
        <HugeText TheText=@ErrorString />
    }
    else if (_user is not null && !(_user.Identity?.IsAuthenticated ?? false))
    {
        <HugeText TheText="Not Logged In"></HugeText>
    }
    else
    {
        <HugeText TheText="Loading..."></HugeText>
    }
</Navigation>