@page "/teams"
@using Website.Components.Navigation
@using Website.Services
@inject HttpClient Http
@inject WebsiteThemeService WebTheme

@code {
    protected TeamCharactersDto? TeamCharacterDto { get; set; }


    protected TeamDto? CurrentTeam;

    public Teams(TeamCharactersDto? teamCharacterDto)
    {
        TeamCharacterDto = teamCharacterDto;
    }

    protected override async Task OnInitializedAsync()
    {
        TeamCharacterDto = 
            await Http.GetFromJsonAsync<TeamCharactersDto>("TeamPage/get-teams-and-characters");
        if (TeamCharacterDto is null)
        {
            throw new Exception("Something went wrong");
        }
        CurrentTeam = TeamCharacterDto.EquippedTeam;
    }

    Task OnChangeTeamAsync(ChangeEventArgs eventArgs)
    {
        var asString = (string)eventArgs.Value!;
        var asLong = long.Parse(asString);
        CurrentTeam = TeamCharacterDto!.Teams.FirstOrDefault(i => i.Id == asLong);
        return Task.CompletedTask;
    }

    async Task EquipTeamAsync()
    {
        var res = await Http.PostAsync("TeamPage/equip-team",
            new FormUrlEncodedContent([
                new KeyValuePair<string, string>
                    ("teamId", CurrentTeam!.Id.ToString())
            ]));
        if (res.IsSuccessStatusCode)
        {
            TeamCharacterDto!.EquippedTeamId = CurrentTeam.Id;
        }
    }

}
<Navigation>
    @if (TeamCharacterDto is not null && CurrentTeam is not null)
    {
        <div class="za-parent">
            <div class="team-settler">
                <div class="inputs" style="display: flex; width: 100%;">
                    <select  @onchange="OnChangeTeamAsync">
                        @foreach (var i in TeamCharacterDto.Teams)
                        {
                            <option selected="@(i == CurrentTeam)" value="@i.Id">@i.Name</option>
                        }
                    </select>
                    @{
                        var currentIsEquipped = CurrentTeam == TeamCharacterDto.EquippedTeam;
                    }
                    <button style="@(currentIsEquipped ? "background-color: grey" : "")"
                            @onclick="EquipTeamAsync" class="equip-button">@(currentIsEquipped ? "Equipped" : "Equip")</button>
                </div>
            
                @{
                    string borderCol = WebTheme.WebsiteTheme == WebsiteTheme.Dark ? "white" : "black";
                }
                <div class="team-characters-container">
                    @for (var index = 0; index < 4; index++)
                    {
                        CharacterDto? i = null;
                        var equippedTeamChars = CurrentTeam.GetCharacters(TeamCharacterDto).ToArray();
                        if (index < equippedTeamChars.Length)
                            i = equippedTeamChars[index];
                        <div class="team-character-div" style="border-color: @borderCol; background-color: @(WebTheme.WebsiteTheme == WebsiteTheme.Dark? "gray" : "lightgrey")">
                            <a>
                                <img style="border-color: @borderCol" src="@i?.ImageUrl" alt=""/>
                            </a>
                            <div class="paragraphs">
                                <p>@(i?.Name ?? "NONE")</p>
                                @if (i is not null)
                                {
                                    <p style="font-size: 13px; font-weight: bold;">Num @i.Number</p>
                                    <p style="font-size: 13px; font-weight: bold">Lvl @i.Level</p>
                                }
                            </div>

                            <span class="material-symbols-outlined" style="margin: auto 15px auto auto;">
                            delete
                        </span>

                        </div>
                    }
                </div>

            </div>
            <div class="others">
                <div>
                    <input type="text"/>
                </div>
                <div class="other-characters">
                    @foreach (var i in TeamCharacterDto.Characters.Where(i =>
                                  !CurrentTeam.GetCharacters(TeamCharacterDto).Contains(i)))
                    {
                        <div class="character-div">
                            <a>
                                <img src="@i.ImageUrl" alt=""/>
                            </a>
                            <p>@i.Name</p>
                            <p>Num @i.Number</p>
                        </div>
                        
                    }
                </div>
            </div>

        </div>


    }
    else
    {
        <h1>Loading...</h1>
    }
</Navigation>