@page "/teams"
@using Website.Components.Navigation
@using Website.Services
@inject HttpClient Http
@inject WebsiteThemeService WebTheme

@code {
    protected TeamCharactersDto? TeamCharacterDto { get; set; }


    protected TeamDto? CurrentTeam;


    private string _currentFilter = "";

    protected override async Task OnInitializedAsync()
    {
        TeamCharacterDto = 
            await Http.GetFromJsonAsync<TeamCharactersDto>("TeamPage/get-teams-and-characters");
        if (TeamCharacterDto is null)
        {
            throw new Exception("Something went wrong");
        }
        CurrentTeam = TeamCharacterDto.EquippedTeam;
    }

    Task OnChangeTeamAsync(ChangeEventArgs eventArgs)
    {
        var asString = (string)eventArgs.Value!;
        var asLong = long.Parse(asString);
        CurrentTeam = TeamCharacterDto!.Teams.FirstOrDefault(i => i.Id == asLong);
        return Task.CompletedTask;
    }

    public CharacterDto? CurrentDraggedCharacter = null;
    public async Task RemoveFromTeamAsync(int slot)
    {
        Console.WriteLine(slot);
        var responseMessage = await Http.PostAsync("TeamPage/remove-from-team", new FormUrlEncodedContent([
            new KeyValuePair<string, string>("slot", slot.ToString()),
            new KeyValuePair<string, string>("teamId", CurrentTeam!.Id.ToString())
        ]));
        if (responseMessage.IsSuccessStatusCode)
        {
            CurrentTeam.CharacterSlots.RemoveAll(i => i.Slot == slot);
        }
    }

    async Task OnDropOnSlot(int slot)
    {
        if (CurrentDraggedCharacter is not null)
        {
            var currentCharIsInCurrTeam = CurrentTeam!.GetCharacters(TeamCharacterDto!).Contains(CurrentDraggedCharacter);
            if (currentCharIsInCurrTeam
             && CurrentTeam.CharacterSlots.Any(i => i.Slot == slot))
            {
                var currentCharSlot = CurrentTeam.CharacterSlots.First(i => i.CharacterId == CurrentDraggedCharacter.Id);

                var result = await Http.PostAsync("TeamPage/switch-slots",
                    new FormUrlEncodedContent([
                        new KeyValuePair<string, string>("slot1", currentCharSlot.Slot.ToString()),
                        new KeyValuePair<string, string>("teamId", CurrentTeam!.Id.ToString()),
                        new KeyValuePair<string, string>("slot2", slot.ToString())
                    ]));
                if (result.IsSuccessStatusCode)
                {
                    var otherSlot = CurrentTeam.CharacterSlots.First(i => i.Slot == slot);
                    (otherSlot.Slot, currentCharSlot.Slot) = (currentCharSlot.Slot, otherSlot.Slot);
                }
            }
            else
            {
            
                var result = await Http.PostAsync("TeamPage/set-slot",
                    new FormUrlEncodedContent([
                        new KeyValuePair<string, string>("slot", slot.ToString()),
                        new KeyValuePair<string, string>("teamId", CurrentTeam!.Id.ToString()),
                        new KeyValuePair<string, string>("characterId", CurrentDraggedCharacter.Id.ToString())
                    ]));
                if (result.IsSuccessStatusCode)
                {
                    if (currentCharIsInCurrTeam)
                    {
                        CurrentTeam.CharacterSlots.RemoveAll(i => i.CharacterId == CurrentDraggedCharacter.Id);
                    }
                    var gotten = CurrentTeam.CharacterSlots.FirstOrDefault(i => i.Slot == slot);
                    if (gotten is null)
                    {
                        CurrentTeam.CharacterSlots.Add(new CharacterSlot()
                        {
                            CharacterId = CurrentDraggedCharacter.Id,
                            Slot = slot
                        });
                    }
                    else
                    {
                        gotten.CharacterId = CurrentDraggedCharacter.Id;
                    }
                }

            }

        }

    }
    async Task EquipTeamAsync()
    {
        
        var res = await Http.PostAsync("TeamPage/equip-team",
            new FormUrlEncodedContent([
                new KeyValuePair<string, string>
                    ("teamId", CurrentTeam!.Id.ToString())
            ]));
        if (res.IsSuccessStatusCode)
        {
            TeamCharacterDto!.EquippedTeamId = CurrentTeam.Id;
        }
      
    }

}
<Navigation>
    @if (TeamCharacterDto is not null && CurrentTeam is not null)
    {
        <div class="za-parent">
            <div class="team-settler">
                <div class="inputs">
                    <select  @onchange="OnChangeTeamAsync">
                        @foreach (var i in TeamCharacterDto.Teams)
                        {
                            <option selected="@(i == CurrentTeam)" value="@i.Id">@i.Name</option>
                        }
                    </select>
                    @{
                        var currentIsEquipped = CurrentTeam == TeamCharacterDto.EquippedTeam;
                    }
                    <button style="@(currentIsEquipped ? "background-color: grey" : "")"
                            @onclick="EquipTeamAsync" class="equip-button">@(currentIsEquipped ? "Equipped" : "Equip")</button>
                </div>
            
                @{
                    string borderCol = WebTheme.WebsiteTheme == WebsiteTheme.Dark ? "white" : "black";
                }
                <div class="team-characters-container">
                    @for (var i = 1; i <= 4; i++)
                    {
                        var character = CurrentTeam.GetCharacter(i, TeamCharacterDto);
                        
                        var i1 = i;
                        <div class="team-character-div" @ondragstart="() => CurrentDraggedCharacter = character" draggable="@(character is not null ? "true" : "false")" 
                             ondragover="event.preventDefault()" @ondrop="() => OnDropOnSlot(i1)" style="border-color: @borderCol; background-color: @(WebTheme.WebsiteTheme == WebsiteTheme.Dark? "gray" : "lightgrey")">
                            <a>
                                <img style="border-color: @borderCol" src="@character?.ImageUrl" alt=""/>
                            </a>
                            <div class="paragraphs">
                                <p>@(character?.Name ?? "EMPTY SLOT")</p>
                                @if (character is not null)
                                {
                                    <p class="minor-info">Num @character.Number</p>
                                    <p class="minor-info">Lvl @character.Level</p>
                                }
                            </div>

                            @if (character is not null && CurrentTeam.GetCharacters(TeamCharacterDto).Count() > 1)
                            {
                                <div class="delete-bin-div" @onclick="() => RemoveFromTeamAsync(i1)">
                                    <span class="material-symbols-outlined">
                                        delete
                                    </span>
                                </div>
                            }
               
                  

                        </div>
                    }
                </div>

            </div>
            
            <div class="others-parent" style="border-color: @(WebTheme.WebsiteTheme == WebsiteTheme.Dark ? "gray" : "black")">
                <div class="others">



                    <div class="filter-class" >
                            <span class="material-symbols-outlined">
                                        search
                                    </span>
                        <input @onchange="args => _currentFilter =(string) args.Value!" style="border-color: @(WebTheme.WebsiteTheme == WebsiteTheme.Dark ? "white" : "black")" type="text" placeholder="Search"/>

                    </div>

                    @code{

                    Task RemoveDraggedCharacterFromTeamAsync()
                    {
                    if(CurrentDraggedCharacter is null) return Task.CompletedTask;
                    var currentSlot = CurrentTeam!.CharacterSlots.FirstOrDefault(i => i.CharacterId == CurrentDraggedCharacter.Id);
                    if (currentSlot is not null)
                    {
                    return RemoveFromTeamAsync(currentSlot.Slot);
                    }

                    return Task.CompletedTask;
                    }

                    }
                    <div class="other-characters-parent">
                        <div class="other-characters" ondragover="event.preventDefault()" @ondrop="RemoveDraggedCharacterFromTeamAsync">
                            @{
                                var smallifiedFilter = _currentFilter.ToLower();
                                foreach (var i in TeamCharacterDto.Characters.Where(i =>
                                              !CurrentTeam.GetCharacters(TeamCharacterDto).Contains(i) && i.Name!.ToLower().Contains(smallifiedFilter)))
                                {
                                    <div class="character-div" draggable="true" @ondragstart='() => CurrentDraggedCharacter = i'>
                                        <a>
                                            <img src="@i.ImageUrl" style="border-color: @(WebTheme.WebsiteTheme == WebsiteTheme.Dark ? "white" : "black")" alt=""/>
                                        </a>
                                        <p>@i.Name</p>
                                        <p>Num @i.Number</p>
                                        <p>Lvl @i.Level</p>
                                    </div>

                                }
                            }

                        </div>
                    </div>

                </div>
            </div>
       

        </div>


    }
    else
    {
        <h1>Loading...</h1>
    }
</Navigation>