@page "/characters"
@using BattleManagemen.LegendaryBot
@using DatabaseManagement

@using Entities.LegendaryBot
@using Entities.LegendaryBot.Entities.BattleEntities.Characters
@using Entities.LegendaryBot.Entities.BattleEntities.Characters.CharacterPartials
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.EntityFrameworkCore
@using WebComponents.Components.Navigation


@rendermode InteractiveServer
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject PostgreSqlContext DbContext
@attribute [Authorize]

@code{

    class CharacterPageDto
    {
        public string Name { get; set; }
        public int Number { get; set; }
        public Rarity Rarity { get; set; }
        public string ImageUrl { get; set; }
        public int Level { get; set; }
    }

    private CharacterPageDto[]? CharacterCollection;
    private CharacterPageDto[]? UsingCharacterCollection;
    private string _nameFilter = string.Empty;
    private static readonly int PlayerTypeId = TypesFunction.GetDefaultObject<Player>().TypeId;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var discordId = user.GetDiscordUserId();
        CharacterCollection = await DbContext.Characters
            .AsNoTrackingWithIdentityResolution()
            .Where(i => i.UserData.DiscordId == discordId)
            .Select(i => new CharacterPageDto
            {
                ImageUrl = i.TypeId == PlayerTypeId ? Player.GetImageUrl(i.UserData.Gender) : Character.GetDefaultCharacterFromTypeId(i.TypeId).ImageUrl,
                Level = i.Level,
                Name = i.TypeId == PlayerTypeId ? i.UserData.Name : Character.GetDefaultCharacterFromTypeId(i.TypeId).Name,
                Number = i.Number,
                Rarity = Character.GetDefaultCharacterFromTypeId(i.TypeId).Rarity
            })
            .ToArrayAsync();
        RefreshFilters();
    }

    private void RefreshFilters()
    {
        if (CharacterCollection is null)
            return;
        var theEnumerable = CharacterCollection
            .Where(i => i.Name.ToLower().Contains(_nameFilter));
        switch (SortingMethod)
        {
            case "name":
                theEnumerable = theEnumerable.OrderBy(i => i.Name);
                break;
            case "level":
                theEnumerable = theEnumerable.OrderBy(i => i.Level);
                break;
        }

        if (reverseOrder)
            theEnumerable = theEnumerable.Reverse();
        UsingCharacterCollection = theEnumerable.ToArray();
    }

    private void FilterWithName(ChangeEventArgs eventArgs)
    {
        _nameFilter = ((string)eventArgs.Value!).ToLower();
        RefreshFilters();
    }

    private void SelectChange(ChangeEventArgs eventArgs)
    {
        SortingMethod = (string)eventArgs.Value!;
        RefreshFilters();
    }

    public void ReverseOrder(ChangeEventArgs eventArgs)
    {
        reverseOrder = (bool)eventArgs.Value!;
        RefreshFilters();
    }

    public const string initialSorting = "level";
    public string SortingMethod = initialSorting;
    public bool reverseOrder;
}


<Navigation>
    <div class="filterer">

        <input class="name-filter" type="text" @onchange="FilterWithName"/>
        <p class="some-para">Sort By</p>
        <select @onchange="SelectChange" name="Sort By" style="width: 100px; height:35px; align-self: center;
margin-left: 30px">
            <option value="level">Level</option>
            <option value="name">Name</option>
        </select>
        <p class="some-para">Reverse Order</p>
        <input type="checkbox" style="width:25px; height:25px; align-self: center; margin-left: 30px;" value="@reverseOrder"
               @onchange="ReverseOrder"/>
    </div>

    @code{

        private RenderFragment RenderCharacter(CharacterPageDto character)
        {
            return @<div class="character-to-display">
                       @{
                           var color = "white";
                           switch (character.Rarity)
                           {
                               case Rarity.TwoStar:
                                   color = "green";
                                   break;
                               case Rarity.ThreeStar:
                                   color = "blue";
                                   break;
                               case Rarity.FourStar:
                                   color = "purple";
                                   break;
                               case Rarity.FiveStar:
                                   color = "yellow";
                                   break;
                               default:
                                   throw new ArgumentOutOfRangeException();
                           }
                       }

                       <a href="/character-info/@character.Number">
                           <img src="@character.ImageUrl" width="200" height="200" style=" background-color: @color;" class="image-box"/>
                       </a>

                       <p class="character-image-p">@character.Name</p>
                       <p class="character-image-p">Level: @character.Level </p>
                       <p class="character-image-p">Number: @character.Number</p>
                   </div>;


        }

    }
    @{
        if (UsingCharacterCollection is not null)
        {
            <div class="characters-container">
                @foreach (var i in UsingCharacterCollection)
                {
                    @RenderCharacter(i);
                }
            </div>
        }
    }


</Navigation>