@page "/inventory/blessings/{BlessingTypeId:int}"
@using Microsoft.AspNetCore.Authorization
@using PublicInfo
@using Website.Components
@using Website.Components.Navigation
@using Website.Pages.Characters
@using Website.Services
@inject SnackBarService SnackBarService
@attribute [Authorize]

@inject HttpClient Http;
<PageTitle>Blessings Info</PageTitle>
@code {
    [Parameter] public int BlessingTypeId { get; set; }

    public BlessingInfoDto? BlessingData { get; set; }
    private string? ErrorString;

    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetAsync($"BlessingInfoPage/get?blessingTypeId={BlessingTypeId}");
        if (result.IsSuccessStatusCode)
        {
            BlessingData = await result.Content.ReadFromJsonAsync<BlessingInfoDto>();
        }
        else
        {
            ErrorString = await result.Content.ReadAsStringAsync();
        }
    }

}

<InventoryNavigation>
    @if (ErrorString is not null)
    {
        <HugeText TheText=@ErrorString></HugeText>
    }
    else if (BlessingData is null)
    {
        <HugeText TheText="Loading..."></HugeText>
    }
    else
    {
        <div class="parent">
            <div class="blessing-holder">
                <div class="blessing-details">
                    <img src="@BlessingData.Blessing.ImageUrl"/>
                    <p>@BlessingData.Blessing.Name</p>
                    <p>@(string.Concat(Enumerable.Repeat("\u2b50", BlessingData.Blessing.RarityNum)))</p>
                </div>
                <p class="blessing-description">@BlessingData.Blessing.Description</p>
            </div>
            <div class="characters-holder">
                <div class="filterer">

                </div>
                <div class="character-containers">
                    @foreach (var i in BlessingData.Characters)
                    {
                        <div>
                            <a href='/inventory/characters/@i.TypeId?equipment=@CharacterInfo.WorkingWith.Blessing.ToString()' style="width: 100%">
                                <img src='@($"{Information.CharactersImagesDirectory}/{i.TypeId}.png")'/>
                            </a>
                            <p>@i.Name</p>
                            <p>@(string.Concat(Enumerable.Repeat("\u2b50", i.RarityNum)))</p>
                            <button @onclick="() => UnequipAsync(i)" class="unequip-button">Unequip</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    }

    @code
    {
        async Task UnequipAsync(CharacterDto characterDto)
        {
            var result = await Http.PostAsync("BlessingInfoPage/unequip-blessing",
                new FormUrlEncodedContent([
                    new KeyValuePair<string, string>("blessingTypeId", BlessingData!.Blessing.TypeId.ToString()),
                    new KeyValuePair<string, string>("characterId", characterDto.Id.ToString())
                ]));
            if (result.IsSuccessStatusCode)
            {
                BlessingData.Characters.Remove(characterDto);
                StateHasChanged();
                await SnackBarService.DisplaySnackBarAsync(
                    new SnackBar.SnackBarParams
                        ($"{characterDto.Name}  has successfully unequipped the blessing!"));
            }
            else
            {
                await SnackBarService.DisplaySnackBarAsync(
                    new SnackBar.SnackBarParams
                        (await result.Content.ReadAsStringAsync())
                        {
                            SnackBarLayout = SnackBar.SnackBarLayout.Error
                        });
            }
        }
    }

</InventoryNavigation>