

@typeparam TObjectType
@code {
    [Parameter] [EditorRequired] public Func<TObjectType, string> BackgroundCol { get; set; } = null!;
    [Parameter] [EditorRequired] public Func<IEnumerable<TObjectType>?> ObjectsToRender { get; set; } = null!;
    [Parameter] [EditorRequired] public Func<TObjectType, string> NameDelegate { get; set; } = null!;
    [Parameter] [EditorRequired] public Func<TObjectType, string> ImageUrlDelegate { get; set; } = null!;
    [Parameter] [EditorRequired] public Func<TObjectType, int> RarityDelegate { get; set; } = null!;
    [Parameter] public Func<TObjectType, string>? LinkUrlDel { get; set; }
    [Parameter] public Func<TObjectType, IEnumerable<string>>? Additionals { get; set; }
}
@using Website.Services
@using Website.Components.Navigation

@inject WebsiteThemeService WebsiteThemeService
@code{
    private bool _displayAdvancedFilter;
    [Parameter]  public RenderFragment? SorterStuff { get; set; }
    public string NameFilter { get; private set; } = "";
    private void FilterWithName(ChangeEventArgs eventArgs)
    {
        NameFilter = ( eventArgs.Value as string ?? string.Empty).ToLower();
    }
    private bool _reverseOrder;
    public void ReverseOrderImp(ChangeEventArgs eventArgs)
    {
        _reverseOrder = (bool)eventArgs.Value!;
    }
}
<Navigation>
    <div class="shower-container">

        <div class="filterer-outer @(WebsiteThemeService.WebsiteTheme == WebsiteTheme.Dark ? "filterer-outer-dark" : "filterer-outer-light")"
             style="height: @(!_displayAdvancedFilter ? "80px" : "280px"); border-color: @(WebsiteThemeService.WebsiteTheme == WebsiteTheme.Dark ? "white":"black")">

            <div class="filter-basic">
             
                <span style="color: black; z-index: 1; margin-left: 20px; margin-right: -35px; margin-top: auto; margin-bottom: auto" class="material-symbols-outlined">
                    search
                </span>
                <input class="name-filter" placeholder="Search" type="text" @onchange="FilterWithName"/>
        
                @{
                var butTxtCol = WebsiteThemeService.WebsiteTheme == WebsiteTheme.Dark ? "black" : "white";
                var advButColor = WebsiteThemeService.WebsiteTheme == WebsiteTheme.Dark ? "white" : "#525252";
                }
                <button style="background-color: @advButColor; color: @butTxtCol " class="advanced-filter-button" @onclick="() => _displayAdvancedFilter = !_displayAdvancedFilter">
                    Adv Filt
                </button>
            </div>
            @SorterStuff
            <p>Reverse Order</p>
            <input type="checkbox" @onchange="ReverseOrderImp" style="width: 25px; height: 25px"/>
        </div>

        @code{

        private RenderFragment RenderObject(TObjectType objectToRender)
        {
        

        return @<div class="entity-to-display">


                   <a href="@LinkUrlDel?.Invoke(objectToRender)">
                       @{
                           var shadCol = WebsiteThemeService.WebsiteTheme == WebsiteTheme.Dark ? "white" : "black";
                       }
                       <img src="@ImageUrlDelegate(objectToRender)" style="background-color: @BackgroundCol(objectToRender);
                    border-color: @(WebsiteThemeService.WebsiteTheme == WebsiteTheme.Dark ? "white" : "black");
                    
                    box-shadow: 0 0 5px 1px @shadCol" class="image-box" alt=""/>
                   </a>
            <p>@NameDelegate(objectToRender)</p>

            @foreach (var i in Additionals?.Invoke(objectToRender) ??[])
            {
            <p class="additional-p">@i</p>
            }


        </div>;
        }

        }

        @{
        var objsToRend = ObjectsToRender();
        if (objsToRend is not null)
        {
        <div style="overflow: auto; flex-grow: 1">
            <div class="entities-container">

                @foreach (var i in _reverseOrder ? objsToRend.Reverse() : objsToRend)
                {
                if (NameDelegate(i).ToLower().Contains(NameFilter))
                {
                @RenderObject(i)
                }
                }
            </div>
        </div>
        }
        else
        {
        <h1 style="font-size: 50px; margin: auto">Loading...</h1>
        }
        }


    </div>


</Navigation>