@{
    var customStyle = "";
    if (_params.SnackBarLayout == SnackBarLayout.Error)
    {
        customStyle = "background-color: red;";
    }
    else if (_params.SnackBarLayout == SnackBarLayout.Success)
    {
        customStyle = "background-color: green;";
    }

    var borCol = WebsiteTheme == WebsiteTheme.Dark ? "white" : "black";
    customStyle += $"border-color: {borCol};";
}

@code{


    [CascadingParameter] public WebsiteTheme WebsiteTheme { get; set; }

}

<div class="snack-bar-parent" style="opacity: @(_shouldDisplaySnackBar ? "100" : "0")%">
    <div style="@(customStyle); @(_params.DivStyle ?? "")">
        <p style="@(_params.TextStyle ?? "")">@(_params.Text)</p>
    </div>
</div>

@code {
    private bool _shouldDisplaySnackBar;

    public enum SnackBarLayout : byte
    {
        Error,
        Success
    }

    ~SnackBar()
    {
        _cancellationTokenSource?.Dispose();
    }


    // Task to track the currently displaying snackbar
    private CancellationTokenSource? _cancellationTokenSource;

    public struct SnackBarParams(string text, TimeSpan? delay = null)
    {
        public string Text = text;
        public TimeSpan Delay = delay ?? TimeSpan.FromSeconds(2);
        public SnackBarLayout SnackBarLayout = SnackBarLayout.Success;
        public string? DivStyle;
        public string? TextStyle;
    }

    public async Task DisplaySnackBarAsync(SnackBarParams @params)
    {
        // Cancel the current snackbar if one is being displayed
        _cancellationTokenSource?.Cancel();
        _cancellationTokenSource?.Dispose();
        // Create a new cancellation token source for the new snackbar
        _cancellationTokenSource = new CancellationTokenSource();

        try
        {
            // Display the new snackbar
            await DisplaySnackBarTaskStuff(@params, _cancellationTokenSource.Token);
        }
        catch (OperationCanceledException)
        {
            // Handle the cancellation (if needed)
        }
    }

    SnackBarParams _params;

    private async Task DisplaySnackBarTaskStuff(SnackBarParams @params, CancellationToken token)
    {
        _params = @params;
        _shouldDisplaySnackBar = true;
        StateHasChanged();
        try
        {
            // Display the snackbar for the specified delay or until cancellation
            await Task.Delay(@params.Delay, token);
        }
        catch (TaskCanceledException)
        {
            // Handle cancellation during the delay
        }

        // Hide the snackbar (only if it wasn't cancelled)
        if (!token.IsCancellationRequested)
        {
            _shouldDisplaySnackBar = false;
            StateHasChanged();
        }
    }

}