@using PublicInfo
@inject  NavigationManager NavMan

@code {

    [CascadingParameter] public WebsiteTheme WebsiteTheme { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private class InventoryPage
    {
        public InventoryPage(string name, string icon)
        {
            Name = name;
            Directory = name.ToLower();
            Icon = icon;
        }

        public string Name { get; }
        public string Directory { get; }
        public string Icon { get; }
    }

    private static List<InventoryPage> InventoryPages =
    [
        new InventoryPage("Characters", "settings_accessibility"),
        new InventoryPage("Items", "water_bottle"),
        new InventoryPage("Blessings", "star"),
        new InventoryPage("Gears", "swords")
    ];

}

<Navigation>
    <div class="za-parent">
        <div class="inventory-nav-root-div" style="border-color: @(WebsiteTheme == WebsiteTheme.Dark ? "white" : "black")">
            @foreach (var i in InventoryPages)
            {
                <a href="@(Information.WebsiteDomainName + $"/inventory/{i.Directory}")"
                   class="@(WebsiteTheme == WebsiteTheme.Dark ? "div-nav-dark" : "div-nav-light") inventory-page">
                    <span style="color: @(NavMan.Uri.Contains(i.Directory, StringComparison.CurrentCultureIgnoreCase) ? "green" : "inherit")" class="material-symbols-outlined">
                        @i.Icon
                    </span>
                </a>
            }
        </div>
        @if (ChildContent is not null)
        {
            <div style="flex-grow: 1; height: 0; overflow: auto">
                @ChildContent
            </div>
        }

    </div>

</Navigation>