@using System.Collections.Immutable
@using Microsoft.VisualBasic
@using Website.Services
@inject WebsiteThemeService WebsiteThemeService
@inject NavigationManager NavMan
@inject AuthenticationStateProvider AuthStateProvider
@code {

    [Parameter] public RenderFragment? ChildContent { get; set; }

    public WebsiteTheme Theme
    {
        get => WebsiteThemeService.WebsiteTheme;
        set => WebsiteThemeService.WebsiteTheme = value;
    }

    
    private bool _showMore = false;
    private string TextColor => Theme == WebsiteTheme.Dark ? "white" : "black";
    private string IconHovBgColorClass => Theme == WebsiteTheme.Dark ? "icon-clickable-dark" : "icon-clickable-light";
    private class DirectoryStorer

    {
        
        public string Name { get; }
        public string Directory { get; }
        public string Icon { get; }
        public Func<string,bool>? IsDirUse { get; }

        public DirectoryStorer(string name, string directory, string icon, Func<string,bool>? isDirectoryUse = null)
        {
            
            IsDirUse = isDirectoryUse;
            Name = name;
            Directory = directory;
            Icon = icon;
        }
    }

    private readonly List<DirectoryStorer> Directories =
    [
        
        new DirectoryStorer("Home", "/", "home", str => str == PublicInfo.Information.WebsiteDomainName || str == PublicInfo.Information.WebsiteDomainName + "/"),
        new DirectoryStorer("Inventory", "/inventory/characters", "backpack",
            str => str.StartsWith(PublicInfo.Information.WebsiteDomainName+"/inventory",StringComparison.CurrentCultureIgnoreCase)),
        new DirectoryStorer("Guild Settings", "/guild", "star"),
        new DirectoryStorer("Teams","/teams","groups"),

    ];

    protected override async Task OnInitializedAsync()
    {
        if ((await AuthStateProvider.GetAuthenticationStateAsync()).User.Identity?.IsAuthenticated ?? false)
        {
            Directories.Add(new DirectoryStorer("Logout","/authentication/logout","logout"));
        }
        else
        {
            Directories.Add(new DirectoryStorer("Login","/authentication/login","login"));
        }
    }

}

<HeadContent>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
</HeadContent>
<div class="navigator-outer @(Theme == WebsiteTheme.Dark ? "navigator-outer-dark" : "navigator-outer-light")" style="background-color: @Theme.GetThemeDefaults().DefaultBackgroundColor;">
    <div class="navigator-container  @(_showMore ? "show-more" : "")" style="border-color: @(Theme == WebsiteTheme.Dark ? "darkgray" : "black")">
        <div class="navigator-inner">
            <p style="color: @TextColor;">Legendary!!</p>
        </div>
        @{
            var or = 2;
            string backgroundCol = "white";
            if (WebsiteThemeService.WebsiteTheme == WebsiteTheme.Light)
                backgroundCol = "black";
            
            
        }
        @foreach (var i in Directories)
        {
            bool isDom;
            if (i.IsDirUse is not null)
            {
                isDom = i.IsDirUse(NavMan.Uri);
            }
            else
            {
                isDom = NavMan.Uri.StartsWith(PublicInfo.Information.WebsiteDomainName + i.Directory,
                    StringComparison.CurrentCultureIgnoreCase);
            }
            <div style="order: @(or++)" class="link-container icon-clickable  @IconHovBgColorClass">

                <div style="background-color: @(isDom ? backgroundCol : "inherit"); height: 100%; width: 5px"></div>
                <a href="@i.Directory" class="link-a">
                    <span class="material-symbols-outlined nav-link-icon" style="color: @(Theme == WebsiteTheme.Dark ? "white" : "black")">
                        @i.Icon
                    </span>
                    <p style="color: @TextColor">@i.Name</p>
                </a>
            </div>
        }
        <div class="additional-cont">
            <div class="icon-clickable dark-mode-changer-div @IconHovBgColorClass" @onclick="() => { if (Theme == WebsiteTheme.Dark) Theme = WebsiteTheme.Light;else Theme = WebsiteTheme.Dark;  }">
            <span class="material-symbols-outlined toggle-button" style="color: @(Theme == WebsiteTheme.Dark ? "white" : "black")">
                dark_mode
            </span>
            </div>

            <div class="menu-div icon-clickable @IconHovBgColorClass" 
                 @onclick="() => _showMore = !_showMore">
            <span class="material-symbols-outlined toggle-button" style="color: @(Theme == WebsiteTheme.Dark ? "white" : "black")">
                menu
            </span>
            </div>
        </div> 

    </div>

    @if (ChildContent is not null)
    {
        <div class="child-content-stuff">
            @ChildContent
        </div>
    }


</div>