@using DiscordBotNet.LegendaryBot
@using DiscordBotNet.LegendaryBot.Entities.BattleEntities.Characters.CharacterPartials


@code {
    [Parameter] public Character Character { get; set; }
    [Parameter] public int Size { get; set; } = 50;
}
<div>
    @{
        var color = "white";
        switch (Character.Rarity)
        {
        
            case Rarity.TwoStar:
                color = "green";
                break;
            case Rarity.ThreeStar:
                color = "blue";
                break;
            case Rarity.FourStar:
                color = "purple";
                break;
            case Rarity.FiveStar:
                color = "yellow";
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }
    }
    <img src="@Character.ImageUrl" style=" background-color: @color;" width="@Size" height="@Size" class="image-box"/>
    <p>@Character.Name</p>
    <p>Level: @Character.Level</p>
    <p>Number: @Character.Number</p>
</div>