@page "/characters"
@using DiscordBotNet.Database


@using DiscordBotNet.LegendaryBot.Entities.BattleEntities.Characters.CharacterPartials
@using DiscordBotNet.WebsiteStuff.Components.Navigation
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.EntityFrameworkCore
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject PostgreSqlContext DbContext
@attribute [Authorize]
@code{
    private Character[]? CharacterCollection;
    private Character[]? UsingCharacterCollection;
    private string _nameFilter = string.Empty;
    
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var discordId = user.GetDiscordUserId();
        var anony = await DbContext.UserData
            .AsNoTrackingWithIdentityResolution()
            .Where(i => i.DiscordId == discordId)
            .Include(i => i.Blessings)
            .Select(i =>
                new { i.Characters, i })
            .FirstOrDefaultAsync();
        if (anony is not null)
        {
            CharacterCollection = anony.Characters.ToArray();
        }
        else
        {
            CharacterCollection = [];
        }

   

        UsingCharacterCollection = CharacterCollection;

    }
    private static int count = 0;
    private void RefreshFilters()
    {
        var theEnumerable = CharacterCollection
            .Where(i => i.Name.ToLower().Contains(_nameFilter));
        switch (SortingMethod)
        {
            case "name":
                theEnumerable = theEnumerable.OrderBy(i => i.Name);
                break;
            case "level":
                theEnumerable = theEnumerable.OrderBy(i => i.Level);
                break;
        }

        if (reverseOrder)
            theEnumerable = theEnumerable.Reverse();
        UsingCharacterCollection = theEnumerable.ToArray();
    }

    private void FilterWithName(ChangeEventArgs eventArgs)
    {
        _nameFilter = eventArgs.Value?.ToString();
        RefreshFilters();
    }

    private void SelectChange(ChangeEventArgs eventArgs)
    {
        SortingMethod = eventArgs.Value?.ToString();
        RefreshFilters();
    }

    public const string initialSorting = "level";
    public string SortingMethod = initialSorting;
    public bool reverseOrder;
}




<Navigation>
    <div class="filterer">

        <input class="name-filter" type="text" onchange="setNewNameFilter(this.value)"/>
        <p class="some-para">Sort By</p>
        <select onchange="changeSortingOrder(this.value)" name="Sort By" style="width: 100px; height:35px; align-self: center;
margin-left: 30px">
            <option value="level">Level</option>
            <option value="name">Name</option>
        </select>
        <p class="some-para">Reverse Order</p>
        <input type="checkbox" style="width:25px; height:25px; align-self: center; margin-left: 30px;" 
               onchange="reverseTheOrder()"/>
    </div>

    @{
        if (UsingCharacterCollection is not null)
        {
            <div class="characters-container">
                @foreach (var i in UsingCharacterCollection)
                {
                    <div class="character-to-display" id="@i.Number">
                        <CharacterTile Character="i"/>
                    </div>
                }
            </div>
        }
    }


</Navigation>

<script>
    var characterSel =document.querySelectorAll('.character-to-display');
    var totalCharacters = [
    
        @if (CharacterCollection is not null)
        {
            foreach (var i in CharacterCollection)
            {
                @: {name: "@i.Name", level: @i.Level, number: @i.Number, imageUrl: "@i.ImageUrl",
                @:div:  document.getElementById('@i.Number')},
            }
        } 
    ]
    let nameFilter = "";
    let reverseOrder = false;
    let sortingType = "@initialSorting"
    var mainParent = document.querySelector('.characters-container')
    function setNewNameFilter(newValue){
        nameFilter = newValue;
        sort()
    }
    function reverseTheOrder(){
        reverseOrder = !reverseOrder
        sort()
    }
    function changeSortingOrder(newSortingOrder){
        sortingType = newSortingOrder;
        sort()
    }
    function sort(){

        while (mainParent.firstChild) {
            mainParent.removeChild(mainParent.firstChild);
        }
        console.log(mainParent.children.length)
        
        var charsToUse = totalCharacters.filter(i => i.name.toLowerCase().includes(nameFilter.toLowerCase()))
        switch (sortingType){
            case "name":
                charsToUse = charsToUse.sort((a, b) => {
                    if (a.name < b.name) return -1;
                    if (a.name > b.name) return 1;
                    return 0;
                });
                break;
            case "level":
                charsToUse = charsToUse.sort((a, b) => {
                    if (a.level < b.level) return -1;
                    if (a.level > b.level) return 1;
                    return 0;
                });
                break;
        }
        if (reverseOrder){
            charsToUse.reverse()
        }
        for (var j of charsToUse){
            mainParent.appendChild(j.div)
        }
    }
 
    

</script>
