@using DiscordBotNet.LegendaryBot
@using DiscordBotNet.LegendaryBot.Entities.BattleEntities.Characters.CharacterPartials

@code {
    [Parameter] public Character Character { get; set; }
    [Parameter] public int Size { get; set; } = 200;
    [Parameter] public bool Linkable { get; set; } = true;
}

<div>
    @{
        var color = "white";
        switch (Character.Rarity)
        {
            case Rarity.TwoStar:
                color = "green";
                break;
            case Rarity.ThreeStar:
                color = "blue";
                break;
            case Rarity.FourStar:
                color = "purple";
                break;
            case Rarity.FiveStar:
                color = "yellow";
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }
    }

    @if (Linkable)
    {
        <a href="/character-info/@Character.Number">
            <img src="@Character.ImageUrl" style=" background-color: @color;" width="@Size" height="@Size" class="image-box"/>
        </a>
    }
    else
    {
        <img src="@Character.ImageUrl" style=" background-color: @color;" width="@Size" height="@Size" class="image-box"/>
    }


    <p>@Character.Name</p>
    <p>Level: @Character.Level</p>
    <p>Number: @Character.Number</p>
</div>