@page "/inventory/characters/{CharacterNumber:int}"
@using Microsoft.AspNetCore.Authorization
@using Website.Components.Navigation
@using Website.Components
@using Website.Pages.Blessings

@attribute [Authorize]

@inject HttpClient Http

@code {
    
    
    public object? HoveredObject { get; set; }
    [CascadingParameter]
    public WebsiteTheme Theme { get; set; }
    public enum  WorkingWith
    {
        Blessing, Armor, Helmet, Weapon, Ring, Necklace, Boots
    }
    [Parameter] public int CharacterNumber { get; set; }

    private WorkingWith CurrentlyWorkingWith { get; set; } = WorkingWith.Armor;
    protected CharacterInfoDto? Dto { get; set; }
    private string? ErrorMessage;
    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetAsync($"CharacterInfoPage/get?characterNumber={CharacterNumber}");
        if (!result.IsSuccessStatusCode)
            ErrorMessage = await result.Content.ReadAsStringAsync();
        else
        {
            Dto = await result.Content.ReadFromJsonAsync<CharacterInfoDto>();
        }
    }

    
}


<InventoryNavigation>
    @if (Dto is not null)
    {

        <div class="parent">
            <div class="equipment-navigator">
                @foreach (var i in Enum.GetValues<WorkingWith>())
                {
                    <div @onclick="() => CurrentlyWorkingWith = i"  style="flex-grow: 1; border-right: solid 1px;">
                        <p>@i</p>
                    </div>
                }
            </div>
            <div style="flex-grow: 1; display: flex; height: 0">
                <div class="equipment-n-stats">
                    <div class="idk-for-now">
                        <div class="character-div">
                            <img src="@Dto.CharacterDto.ImageUrl">
                            <p>@Dto.CharacterDto.Name</p>
                            <p>Level: @Dto.CharacterDto.Level</p>
                            <p>Num @Dto.CharacterDto.Number</p>
                        </div>
                        <div>

                            @{

                                string? imageUrl;
                                object? workingWithObject;
                                if (CurrentlyWorkingWith == WorkingWith.Blessing)
                                {

                                    workingWithObject = Dto.EquippedBlessing;
                                    imageUrl = (workingWithObject as BlessingDto)?.ImageUrl;
                                }
                                else
                                {
                                    workingWithObject = Dto.AllGears
                                        .FirstOrDefault(i => i.Id ==
                                                             Dto.CharacterDto.TheEquippedOnes.GetValueOrDefault(CurrentlyWorkingWith));
                                    imageUrl = (workingWithObject as GearDto)?.ImageUrl;
                                }


                            }
                            <img  src="@imageUrl"/>
                            <div>
                                @if (workingWithObject is BlessingDto blessingDto)
                                {
                                    <p>@blessingDto.Name</p>

                                }
                                else if (workingWithObject is GearDto gearDto)
                                {
                                    <p>@gearDto.GearName</p>
                                    <p>Rarity: @gearDto.RarityName</p>
                                }
                            </div>
                        </div>


                    </div>
                    <div class="character-stats-shower">
                        @foreach (var i in Dto.CharacterDto.CharacterStatsString)
                        {
                            <p>@i</p>
                        }
                    </div>
                </div>
                <div class="search-stuff">
                    <div style="display: flex; border-bottom: solid 1px; max-height: 30px">
                        <input type="text"/>
                    </div>
                    <div class="the-stuff-to-search">

                        @if (CurrentlyWorkingWith != WorkingWith.Blessing)
                        {
                        var typeIdToLookFor = Dto.WorkingWithToTypeIdHelper[CurrentlyWorkingWith];
                            foreach (var i in Dto.AllGears.Where(j => j.TypeId == typeIdToLookFor && j != workingWithObject))
                            {
                                
                                <div @onmouseover="() => HoveredObject = i" @onmouseout="() => { if (HoveredObject == i) { HoveredObject = null; } }">
                                    <img src="@i.ImageUrl"/>
                                    <p>@i.GearName</p>
                                    <p>Rarity: @i.RarityName</p>
                                    <div  class="the-hover-shit" style="border-color: @(Theme == WebsiteTheme.Dark ? "gray" : "lightgrey");
                                        background-color: @(Theme == WebsiteTheme.Dark ? "white" : "black");
color: @(Theme == WebsiteTheme.Dark ? "black" : "white");
display: @(HoveredObject == i ? "block" : "none")">
                                        <p>@i.MainStat.StatName: @i.MainStat.Value</p>
                                        @foreach (var j in i.SubStats)
                                        {
                                            <p>@j.StatName: @j.Value</p>
                                        }
                                    </div>
                                </div>
                            }
                        }
                   
                    </div>
                </div>
            </div>
       
        </div>


    }
    else if(ErrorMessage is not null)
    {
        <HugeText TheText=@ErrorMessage></HugeText>
    }
    else
    {
        <HugeText TheText="Loading..."></HugeText>
    }
</InventoryNavigation>