@page "/gears"



@using System.Net.Http.Headers
@using System.Security.Principal
@using Microsoft.AspNetCore.Authorization
@using PublicInfo

@using Website.Components.Navigation
@using Website.Services
@inject WebsiteThemeService WebsiteThemeService



@inject HttpClient Http
@attribute [Authorize]
@code{

    private GearPageDto[]? GearCollection;

    protected override async Task OnInitializedAsync()
    {
        GearCollection = await Http.GetFromJsonAsync<GearPageDto[]>("/GearsPage/get-gears");

    }

    private enum SortType
    {
        Name, Rarity
    
    }


    private IEnumerable<GearPageDto>? UsingGearCollection
    {
        get
        {
            if (GearCollection is null)
                return null;
            var theEnumerable = GearCollection
                .Where(i => i.Name.ToLower().Contains(_nameFilter));
            switch (SortTypeVal)
            {
                case SortType.Name:
                    theEnumerable = theEnumerable.OrderByDescending(i => i.Name);
                    break;
                case SortType.Rarity:
                    theEnumerable = theEnumerable.OrderByDescending(i => i.RarityNum);
                    break;
                
            }

            if (reverseOrder)
                theEnumerable = theEnumerable.Reverse();
            return theEnumerable;
        }
    }

    private string _nameFilter = string.Empty;


    private void FilterWithName(ChangeEventArgs eventArgs)
    {
        _nameFilter = ((string)eventArgs.Value!).ToLower();
    }

    private void SelectChange(ChangeEventArgs eventArgs)
    {
        SortTypeVal = Enum.Parse<SortType>((string)eventArgs.Value!);
    }

    public void ReverseOrder(ChangeEventArgs eventArgs)
    {
        reverseOrder = (bool)eventArgs.Value!;
    }


    private SortType SortTypeVal { get; set; } = SortType.Name;
    public bool reverseOrder;
}


<Navigation>

    
    <div class="filterer-outer @(WebsiteThemeService.WebsiteTheme == WebsiteTheme.Dark ? "filterer-outer-dark" : "filterer-outer-light")" 
         style="height: @(!displayAdvancedFilter ? "80px" : "280px"); border-color: @(WebsiteThemeService.WebsiteTheme == WebsiteTheme.Dark ? "white":"black")">

        <div class="filter-basic">
            <div class="input-div filterer-percentage">
                <span class="material-symbols-outlined name-filter-search-icon">
                    search
                </span>
                <input class="name-filter" placeholder="Search" type="text" @onchange="FilterWithName"/>
            </div>
            @{
                var butTxtCol = WebsiteThemeService.WebsiteTheme == WebsiteTheme.Dark ? "black" : "white";
                var advButColor = WebsiteThemeService.WebsiteTheme == WebsiteTheme.Dark ? "white" : "#525252";
            }   
            <button style="background-color: @advButColor; color: @butTxtCol " class="advanced-filter-button" @onclick="() => displayAdvancedFilter = !displayAdvancedFilter">
                Adv Filt
            </button>
        </div>

        @code

        {
            private bool displayAdvancedFilter;
        }

        <p>Sort By</p>
        <select @onchange="SelectChange" class="filterer-percentage" style="height: 30px">

            @foreach (var i in Enum.GetValues<SortType>())
            {
                <option selected="@(SortTypeVal == i)" value="@i">@i</option>
            }

        </select>
        <p>Reverse Order</p>
        <input type="checkbox" @onchange="ReverseOrder" style="width: 25px; height: 25px"/>
    </div>


    @code{

        private RenderFragment RenderGear(GearPageDto gear)
        {
            return @<div class="gear-to-display">


                <a href="/gear-info/@gear.Number">
                    <img src="@gear.ImageUrl" style="background-color: black;
                    border-color: @(WebsiteThemeService.WebsiteTheme == WebsiteTheme.Dark ? "white" : "black");
box-shadow: 3px 3px @(WebsiteThemeService.WebsiteTheme == WebsiteTheme.Dark ? "white" : "black")" class="image-box"/>
                </a>
                @{
                    var pColor = WebsiteThemeService.WebsiteTheme == WebsiteTheme.Dark ? "white" : "dark";
                    
                }
                <p style="color: @pColor" >@gear.Name</p>
                <p style="color: @pColor" >Number: @gear.Number</p>
        <p style="color: @pColor" >Rarity: @gear.RarityName</p>
            </div>;
        }

    }

    @{
        if (UsingGearCollection is not null)
        {
            <div class="gears-container">

                @foreach (var i in UsingGearCollection)
                {
                    @RenderGear(i)
                    ;
                }
            </div>
        }
        else
        {
            <h1 style="font-size: 50px; margin: auto">Loading...</h1>
        }
    }


</Navigation>